<h1>My Routines</h1> <!-- would be nice to have logout on this page as well-->

<% if !@routines.empty? %>
  <%@routines.each do |routine|%>
    <li><a href= "/routines/<%=routine.id%>"><%=routine.name%></a></li>
  <%end%>
<% else %>
  <p>You don't currently have any routines!</p>
<% end %>
<a href="/routines/new">Create a New Routine</a>

<br>
<a href= "/home"> Return to home page </a>
