<% if flash[:message] %>
  <p><%= flash[:message] %></p>
<% end %>

<h1>My Routines</h1>

<% if !@routines.empty? %>
  <% @routines.each do |routine| %>
    <li><a href= "/routines/<%= routine.id %>"><%= routine.name %></a></li>
  <% end %>
<% else %>
  <p>You don't currently have any routines!</p>
<% end %>
<br>
