<h1>My Routines</h1>

<% if !@routines.empty? %>
  <%@routines.each do |routine|%>
    <li><a href= "/routines/<%=routine.id%>"><%=routine.name%></a></li>
  <%end%>
<% else %>
  <p><a href="/routines/new">Create a New Routine</a></p>
<% end %>

<br>
<a href= "/home"> Return to home page </a>
