<h1>Create A New Routine!</h1>

<form method="post" action="/routines">

  <label for="name">Routine Name (e.g. "Winter Morning," "Fall Evening")</label>
  <br></br>
  <input type="text" name="routine[name]">
  <br></br>

  <label for="products">Products</label>
  <br></br>
  <input type="text-area" name="routine[products]">
  <br></br>

  <label for="description">Description</label>
  <br></br>
  <input type="text-area" name="routine[description]">
  <br></br>

  <input type="submit" id="submit" value="Submit">
</form>
