<h1>Create A New Routine!</h1>
<form method="post" action="/routines">

  <label for="name">Routine Name (e.g. "Winter Morning," "Fall Evening")</label>
  <br></br>
  <input type="text" id="name" name="name">
  <br></br>

  <label for="products">Products</label>
  <br></br>
  <input type="text-area" id="products" name="products">
  <br></br>

  <label for="products">Description</label>
  <br></br>
  <input type="text-area" id="description" name="description">
  <br></br>

  <input type="submit" id="submit" value="Submit">
</form>
