
Welcome, <%=@user.username%>


What do I want to show on this page?

Give a message welcoming user

ask user what they would like to do
<a href="/routines/new">Create a Routine</a>
<a href="/signup">View Your Routines</a>

New Products
New routines
