HALLLO I AM WORKING!


<form method="POST" action="/products">
    Product Name: <input type="text" name="product[name]"></input>
    Category: <input type="text" name="product[category]"></input>
    Ingredients: <input type="text-area" name="product[ingredients]"></input>
    Notes: <input type="text" name="product[notes]"></input>

    <input type="submit" name="Submit Product" value="Submit Product"></input>
</form>
