<% if flash[:message] %>
  <p><%= flash[:message] %></p>
<% end %>

<h1>Add A New Product!</h1>

<form method="post" action="/products">

  <div class="row">
    <div class="four columns">
      <label for="name">Product Name</label>
      <input type="text" name="product[name]" class="u-full-width"></input>
    </div>

    <div class="eight columns">
      <label for="category">Product Category (Cleanser, Moisturizer, etc.)</label>
      <input type="text" name="product[category]" class="u-full-width"></input><br></br>
    </div>
  </div>

  <label for="ingredients">Product Ingredients</label>
  <input type="text-area" name="product[ingredients]" class="u-full-width"></input><br></br>

  <label for="notes">Product Notes</label>
  <input type="text" name="product[notes]" class="u-full-width"></input><br></br>

  <input type="submit" name="Submit Product" value="Submit Product"></input>
</form>
