<div>
  <h1>Welcome to Routine Addict!</h1>
  <br>
  <br>
  <h2><i>Where users can share skincare routines and product recommendations</i></h2>
  <br>
  <br>

  <div>
    <a href="/signup">Sign up</a>
    <a href="/login">Login</a>
  </div>
</div>
