<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h1>Welcome to Routine Addict!</h1>
    </div>

  </div><!-- ends this row -->

  <br>
  <br>

  <div class="row">
    <div class="twelve columns">
      <h2><i>Where users can share skincare routines and product recommendations</i></h2>
    </div>
  </div><!-- ends this row -->

  <br>
  <br>

  <div class="row">
    <div class="twelve columns">
      <a href="/signup">Sign up</a>
      <a href="/login">Login</a>
    </div>
    </div>
  </div>

</div>
