<!DOCTYPE html>
<html>
  <head>
    <title>Routine Addict</title>
    <!-- would link to stylesheet here -->
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" /> -->
  </head>

  <body>
    <% if logged_in? %>
      <a href="/home">Home</a>
      <a href="/routines/new">Create New Routine</a>
      <a href="/routines">View Routines</a>
      <a href="/users/<%=@current_user.slug%>">View Profile</a>
      <a href="/logout" onclick="return confirm('Are you sure you want to log out?');">Log Out</a>
    <% end %>

    <%= yield %>
  </body>
</html>
